body{
    background-image: url(https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-1/c0.5.160.160a/p160x160/10606261_1487207278198887_380875627626319962_n.jpg?_nc_cat=102&_nc_ht=scontent-lhr3-1.xx&oh=790324b5ff77bfbc7d65be671b6b57cc&oe=5CEA6248);
}

#e1{
    color: green;
}

#e2{
    color: green;
}

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 120px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
}