body {
    background-color: mediumblue;
}

h1 {
    background-color: whitesmoke;
    color: black;
    text-align: center;    
}

h2, h4,p {
    color: white;
}

button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#links{
    position:absolute;
    bottom: 45px;
}

#footer {
    color: grey;
    position: absolute;
    left: 0;
    bottom: 0;
}